    #nav{background-color: rgb(68, 0, 195) !important; 
    position: absolute;
    position: sticky;
padding: 1%;}
    
    a{color: white !important;
    scale: 1.15;
font-weight: 700 !important;}
    a:hover{color: rgb(220, 223, 255) !important;}
    img:hover{opacity: 70%;
    transition: all;
transition-duration: 0.5s;}
h1{font-weight: 700;}
.carosel-text{font-weight: 700; font-size:50px;
  text-shadow: 2px 2px #000000;}
.carosel-p{font-size: 22px;
  text-shadow: 2px 2px #000000;}



  